@font-face {
  font-family: "TF2build";
  src: url("assets/tf2build.ttf") format("truetype");
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

h4{
		font-family: "tf2build", sans-serif;
		font-size: 24px;
		color: white;
}

.fl{
	float:left;
}

.fr{
	float:right;
}

body{
	background: #2e3032;
	background-image: url('assets/bg.png');
	background-repeat: no-repeat;
	background-size: 120%;
	background-position: 100% 0%;
	background-attachment: fixed;
}

/*Header*/
header{
	background-color: #39352e;
	height: 45px;
	border-bottom: 1px solid #84756b;	
	/*header shadow effect*/
	-webkit-box-shadow: 0px 10px 33px 4px rgba(0,0,0,0.7);
	-moz-box-shadow: 	0px 10px 33px 4px rgba(0,0,0,0.7);
	box-shadow: 		0px 10px 33px 4px rgba(0,0,0,0.7);
}

.git_link{
	background-color: #766b5e;
	height: 44px;
	width: 74px;
}

.git_link:hover{
	background-color: #924738;
}

.git_ico{
	height:33px;
	width:33px;
	margin: 6px 0 0 20px;
}

.avatar{
	width: 42px;
	height: 42px;
	margin-left: 1px;
}

.yesjpg{
	width: 44px;
	height: 44px;
	border: 1px solid #766b5e;
	border-bottom: 2px solid #7dafff;
}

.smug{
	height:45px;
	width: auto;
	margin-left: 3px;
}

.bigGreenButton{
	background-color: #4b6b1c;
	width: 180px;
	height: 44px;
}

.hustle{
	margin: 1px 0 0 8px;
}

.everydayim{
	font-family: "tf2build", sans-serif;
	font-size: 24px;
	color: white;
	margin: 10px 10px 0 0;
}

/*layout*/
.layout{
	margin-left: 200px;
	width: 480px;
}

.featured, .about{
	display:block;
	position: relative;
	width: inherit;
	height: auto;
	background-color: #39352e;
	border-radius: 3px;
	border: 1px solid #84756b;

}

.ftrd-logo{
	margin: 10px 0 8px 20px;
}

.featured-contents{
	display: solid-block;
	background-color: #292526;
	width: auto;
	height: 140px;
	position: relative;
	border-radius: 2px;
	border-right: 1px solid #84756b;
	border-bottom: 1px solid #84756b;
	margin: 4px 4px 8px 4px;
	-webkit-box-shadow: inset 6px 9px 15px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 6px 9px 15px -1px rgba(0,0,0,0.75);
	box-shadow: inset 6px 9px 15px -1px rgba(0,0,0,0.75);
}
.ftrd-header{
	font-family: "tf2secondary", sans-serif;
	font-size: 15px;
	padding: 4px 0 0 6px;
	width: 300px;
}

.ftrd-descr{
	font-family: "tf2secondary", sans-serif;
	font-size: 13px;
	color: gray;
	margin: 1px 0 0 10px;
	width: 300px;
}

.ftrd-image{	
	height: 120px;
	width: auto;
	position: relative;
	right: 12px;
    bottom: 30px;
}

.soldier{
	position: relative;
	margin-right: 200px;
	max-width:100%;
	max-height:100%;
}

/*footer*/
.footer{
	background-color: #39352e;	
	position: fixed;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
	text-align: center;
	border-top: 3px solid #84756b;
	/*border-color: #84756b;*/
}

.button-box{
	background-color: #766b5e;
	width: 200px;
	height: 50px;
	border-radius: 6%;
	position: relative;
	/*text*/
	font-family: "tf2build", sans-serif;
	font-size: 24px;
	color: white;
}

.button-box:hover{
	background-color: #924738;
}

.shop, .item{
	margin:9px 0 0 0px;
}

.sfx{
	display: none;
}